
body{
  background-color: black;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startButton {
  margin-bottom: 20px;
}

h1{
  text-transform: uppercase;
  color: steelblue;
}

button{
  background-color: lightcoral;
  color: steelblue;
  height:2vw;
  width: 10vw;
  text-transform: uppercase;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: steelblue;
  font-size: 1vw;
}

#score{
  border: 3px solid steelblue;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 0.5% 0 0.5% 0;
  margin-bottom: 1%;
  text-align: center;
  text-transform: uppercase;
  color: steelblue;
  height:8%;
  width: 15vw;
  font-size:0.8vw;
}

#bestScore{
color: lightcoral
}

#currentScore{
  color: olivedrab;
}

#game{
  background-color: aliceblue ;
  width: 80%;
  height:500px;
  display: flex;
  justify-content: center;
  word-wrap: normal;
  flex-wrap: wrap;
  border: 3px solid steelblue;
  border-radius: 20px;
}

#game div {
  border: 2px solid steelblue;
  width: 15%;
  height: 226px;
  margin: 10px 1.8% 10px 1.8%;
}

.red{
  background-image: url(red.jpeg);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}

.blue{
  background-image: url(blue.jpeg);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}

.purple{
  background-image: url(purple.jpeg);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}

.orange{
  background-image: url(orange.jpeg);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center;
}

.green{
  background-image: url(green.jpeg);
   background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}

.hidden{
  background-image: url(question.jpeg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center;
}