
body{
  background-color: black;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startButton {
  margin-bottom: 20px;
}

h1{
  text-transform: uppercase;
  color: steelblue;
}

button{
  background-color: aliceblue;
  color: steelblue;
  height:4vw;
  width: 20vw;
  text-transform: uppercase;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: steelblue;
  font-size: 1.5vw;
}

#score{
  border: 3px solid steelblue;
  border-radius: 10px;
  background-color: aliceblue;
  width: 20%;
  padding: 1% 0 1% 0;
  margin: 0% 40% 2% 40%;
  text-align: center;
  text-transform: uppercase;
  color: steelblue;
  height:5vw;
  width: 30vw;
  font-size:1.5vw;
}

#bestScore{
color: lightcoral
}

#currentScore{
  color: olivedrab;
}

#game{
  background-color: aliceblue ;
  width: 80%;
  height:500px;
  display: flex;
  justify-content: center;
  word-wrap: normal;
  flex-wrap: wrap;
  border: 3px solid steelblue;
  border-radius: 20px;
}

#game div {
  border: 2px solid steelblue;
  width: 15%;
  height: 226px;
  margin: 10px 1.8% 10px 1.8%;
}

.red{
  background-image: url(red.jpeg);
}

.blue{
  background-image: url(blue.jpeg);
}

.purple{
  background-image: url(purple.jpeg);
}

.orange{
  background-image: url(orange.jpeg);
}

.green{
  background-image: url(green.jpeg);
}